@import 'base/base';
@import 'base/typography';

.app {
  min-height: 80vh;
  min-width: min-content;
  margin: 10rem;
  padding: 1rem;
  background-image: linear-gradient(to left, #222, #888);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}

img {
  height: 20rem;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
