.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(black, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 20;

  &__content {
    width: 75%;
    transform: scale(0);
    background-color: white;
    transition: all 0.3s 0.4s;
    display: flex;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: scale(1);
  }
}
